@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
    background-color: #fefffd;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 30px 50px;
    position: relative;
}

.logo_img {
    width: 130px;
    height: auto;

}

.pages {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.items {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #1a1b1f;
    margin: 17px;
    opacity: .6;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    transition: 0.25s;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.items:hover {
    background-color: #0e0e0e;
    color: #f4f4f4;
}

.contact {
    font-family: Montserrat, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    border-radius: 0;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    transition: background-color .4s, opacity .4s, color .4s;
    border-radius: 20px;
}

.intro-header {
    color: #fff;
    background-color: #f4f4f4;
    background-image: url(./assets/fond.png);
    background-position: center center; /* Centre l'image */
    background-size: cover; /* Assure que l'image couvre toute la div */
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65px);
    margin-bottom: 100px;
    display: flex;
}

.intro-content.cc-homepage {
    width: 100%;
    margin-bottom: 20px;
}

.intro-content {
    text-align: center;
    width: 70%;
    max-width: 1140px;
}

.heading-jumbo {
    text-transform: none;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Droid Sans, sans-serif;
    font-size: 64px;
    line-height: 80px;
}

.paragraph-bigger.cc-bigger-white-light {
    opacity: .6;
}    

.paragraph-bigger {
    opacity: 1;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Ajoute une ombre au texte */
}


.button.cc-jumbo-button.cc-jumbo-white {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}

.button.cc-jumbo-button {
    padding: 16px 35px;
    font-size: 14px;
    line-height: 26px;
}

.button {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    border-radius: 20px;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    transition: background-color .4s, opacity .4s, color .4s;
}

.learn {
    border-radius: 20px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}


html.w-mod-touch * {
    background-attachment: scroll !important;
}

.label {
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #6465eb;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.motto-wrap {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.heading-jumbo-small {
    font-family: Montserrat, sans-serif;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}

.divider {
    background-color: #eee;
    height: 1px;
}

.home-content-wrap {
    margin-top: 80px;
    margin-bottom: 120px;
    font-family: Montserrat, sans-serif;
}

.about-grid {
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template: ". ." / 1fr 2fr;
    align-items: center;
    margin-bottom: 80px;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

#w-node-_86e64837-0616-515b-4568-76c147234d34-5665f6e1 {
    grid-area: 1 / 1 / 2 / 2;
}

.home-section-wrap {
    margin-bottom: 30px;
}




.section-heading {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
}
h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: bold;
}

.paragraph-light {
    opacity: .6;
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
}    
p {
    margin-top: 0;
    margin-bottom: 10px;
    
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.about-grid.cc-about-2 {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: ". .";
}

.about-grid {
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template: ". ." / 1fr 2fr;
    align-items: center;
    margin-bottom: 80px;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

#w-node-_86e64837-0616-515b-4568-76c147234d3f-5665f6e1, #w-node-_86e64837-0616-515b-4568-76c147234d41-5665f6e1 {
    grid-area: 1 / 2 / 2 / 3;
}

.home-section-wrap {
    margin-bottom: 30px;
}



.section-heading {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: Montserrat, sans sans-serif;
}

#w-node-_86e64837-0616-515b-4568-76c147234d4c-5665f6e1, #w-node-ca1212d8-4247-8b87-bc90-543393b118e6-5665f6e4 {
    grid-area: 1 / 1 / 2 / 2;
}

.button {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    border-radius: 20px;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    transition: background-color .4s, opacity .4s, color .4s;
}

.learn:hover {
    border: solid 2px #1a1b1f;
    color: #1a1b1f;
    background-color: transparent;
}

.img_profile {
    border-radius: 20px;
    filter: blur(5px);
    transition: 0.45s;
}

.img_setup {
    border-radius: 20px;
    filter: blur(5px);
    transition: 0.45s;
}

img:hover {
    filter: blur(0);
}

.about-grid.cc-about-2 {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: ". .";
}

.about-grid {
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template: ". ." / 1fr 2fr;
    align-items: center;
    margin-bottom: 80px;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.blog-heading {
    text-align: center;
    margin-bottom: 60px;
}

.work-heading {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}

.collection-list-wrapper {
    margin-bottom: 120px;
}

.collection-wrap {
    flex-wrap: wrap;
    place-content: flex-start center;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

.blog-preview-wrap {
    width: 33.33%;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 45px;
}

.business-article-heading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    text-decoration: none;
}

.label.cc-blog-date {
    opacity: .6;
    margin-top: 20px;
}


.blog-preview-wrap {
    width: 33.33%;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 45px;
}

.business-article-heading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    text-decoration: none;
}

.label.cc-blog-date {
    opacity: .6;
    margin-top: 20px;
}


a {
    color: #1a1b1f;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

.heading-jumbo-small {
    text-align: center;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border-right: 2px solid black; /* Curseur clignotant */
    display: inline-block;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 90%;
    overflow: hidden;
    padding: 2rem;
    margin: auto;

}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.typing-complete {
    border-right: none; /* Retirer le curseur clignotant */
    
}
  
.paragraph-tiny {
    font-family: Montserrat, sans-serif;
    opacity: .6;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px 10px;
}

.insta {
    border-radius: 50%;
    width: 30px;
    height: auto;
}



  

/* Responsive Styles */
/* Media Queries pour les écrans de taille moyenne */
@media screen and (max-width: 991px) {
    .about-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "text"
            "image";
        text-align: center;
    }

    body {
        overflow-x: hidden;
 
    }

    .intro-content {
        width: 90%;
    }

    .heading-jumbo {
        font-size: 48px;
        line-height: 60px;
    }

    .paragraph-bigger.cc-bigger-white-light {
        font-size: 18px;
        line-height: 28px;
    }

    .button.cc-jumbo-button {
        padding: 12px 25px;
        font-size: 12px;
        line-height: 20px;
    }

    .blog-preview-wrap {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar, .intro-header {
        width: 100%; 
    }

    /* Assurez-vous que les images ne débordent pas */
    img {
        max-width: 100%; 
        height: auto; /* Maintient le ratio d'aspect */
    }

    /* Styles supplémentaires si nécessaire */
    .container {
        padding: 10px; /* Réduire le rembourrage pour les petits écrans */
    }
}

/* Media Queries pour les écrans de petite taille */
@media (max-width: 985px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "text"
            "image";
        text-align: center;
    }

    .about-grid img {
        width: 100%; /* Réduire la taille de l'image */
    }

    .pages {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff; /* Fond blanc pour les noms des pages */
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
    }

    .pages.active {
        display: flex;
    }

    .burger-menu {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        top: 8px;
        right: 20px;
    }

    .burger-bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #1a1b1f;
        transition: all 0.3s ease;
    }

    .contactus {
        display: none;
    }

    .intro-header {
        height: auto;
        padding: 20px;
    }

    .intro-content {
        width: 90%;
    }

    .heading-jumbo {
        font-size: 36px;
        line-height: 48px;
    }

    .paragraph-bigger.cc-bigger-white-light {
        font-size: 16px;
        line-height: 24px;
    }

    .button.cc-jumbo-button {
        padding: 10px 20px;
        font-size: 10px;
        line-height: 18px;
    }

    .blog-preview-wrap {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .collection-wrap {
        flex-direction: column;
    }
}

/* Media Queries pour les écrans de grande taille */
@media (min-width: 985px) {
    .burger-menu {
        display: none;
    }
}



@media (max-width: 768px) {

    .intro-header {
        height: calc(100vh - 85px);
    }

    .about-grid {
        flex-direction: column; /* Stack on smaller screens */
        align-items: flex-start; /* Align to the left */
    }

    .about-grid {
        display: flex; /* Change to flexbox */
        flex-direction: row; /* Default direction */
        align-items: center; /* Center items vertically */
        flex-wrap: wrap; /* Allow items to wrap */
    }
    
    .about-grid img {
        flex: 1; /* Allow the image to grow */
        max-width: 100%; /* Responsive image */
        height: auto; /* Maintain aspect ratio */
    }
    
    .home-section-wrap {
        flex: 2; /* Allow text to take more space */
        padding: 10px; /* Optional: Add some padding */
    }

    .ebooks {
        margin-left: 20px;
    }
    
    @media (max-width: 768px) {
        .about-grid {
            flex-direction: column; /* Stack on smaller screens */
            align-items: flex-start; /* Align to the left */
        }

        .heading-jumbo-small {
            font-size: 1.25rem; /* Réduit la taille de la police pour les petits écrans */
        }
    }

    @media (max-width: 480px) {
        .heading-jumbo-small {
            font-size: 1rem; /* Réduit la taille de la police pour les petits écrans */
        }
    }    

/* Media Queries pour les écrans de petite taille */
@media (max-width: 991px) {
    .intro-header {
        width: 100%; /* Prendre toute la largeur */
        height: calc(100vh - 65px); /* Prendre toute la hauteur de l'écran */
        margin: 0; /* Supprimer les marges si nécessaire */
        padding: 0; /* Supprimer les rembourrages si nécessaire */
        box-sizing: border-box; /* Assurer que la largeur inclut les bordures et le rembourrage */
    }
}


    
}
 